@charset "utf-8";
* {box-sizing:border-box;
margin:0;
padding:0;}



#logo {
  margin-top:0;
	height:55px;
}


.navbar {
    font-size: 18px;
    background-color: #070419;
	opacity: 0.9;
    padding-bottom: 10px;
	   font-family: 'Merriweather', serif;
    font-weight: bold;
	margin-top: 0px;
	
	
}
.main-nav {
    list-style-type: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: #FFF;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.welcome {
	color: white;
	position: absolute;
	font-family: 'Alegreya Sans SC';
	line-height: 70px;
	font-size: 80px;
	z-index:1;
	text-align: center;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

@media screen and (max-width: 768px) {
.welcome {
	color: white;
	position: absolute;
	font-family: 'Alegreya Sans SC';
	line-height: 40px;
	font-size: 50px;
	z-index:1;
	text-align: center;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	}}
	

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
z-index:1;
  
}

.img-size {
  max-width: 100%;
  max-height: 722px
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
	z-index:1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotactive, .dot:hover {
  background-color: #AD0E0E;
	
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.row {
	margin-top:10px;
	margin-left: 15px;
	margin-right: 15px;
}

.intro{
	font-family: 'Merriweather';
	font-weight: normal;
	font-size: 24px;
	margin: auto;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
	
}

/* Boxes */
#boxes {
	margin-top:10px;
	margin-left:15px;
	margin-right:15px;}

#boxes .box {
		float:left;
		text-align: center;
		width:33%;
		padding:30px;
}

#boxes .box img {width:170px; min-height: 154px;}

@media screen and (max-width: 700px) {
  
 #boxes {
	margin-top:10px;
	margin-left:15px;
	margin-right:15px;}

#boxes .box {
		float:left;
		text-align: center;
		width:90%;
		padding:30px;
}

#boxes .box img {width:170px; min-height: 154px;}
  
}


h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
}


#t02 {
  text-align:center;
  background-color:#0E0733;
  width:100%;
  margin:auto;
}



.table2,.td2,.tr2 {
  border-radius:3px;
  font-family: 'Open Sans';
  height:40px;
  background-color:#0E0733;
	padding: 20px 30px 20px 30px;
}



.td2 {
  width:200px;
  color:white;
}



#closer {
  padding-top:40px;
}


#two {
  text-align:left;
  color:gray;
}



#three {
  text-align:center;
  color:gray;
}



#four {
  text-align:center;
  color:gray;
}



.info {
  margin:0;
}



#blah {
  text-align:left;
}
	

.page {
	text-align: center;
	font-size: 48px;
	font-family: 'Merriweather';
}

.grid {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  
	margin-left: 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 8px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}

.column .capcontainer img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Lab photos captions */

.capcontainer {
  position: relative;
  
}

.capimage {
  display: block;
  width: 100%;
  height: auto;
}

.caption {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: white; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 18px;
  padding: 20px;
  text-align: center;
font-family: 'Open Sans';
}

.capcontainer:hover .caption {
  opacity: 1;
}

/* People */
.people {
	margin-top:10px;
	margin-left: 15px;
	margin-right: 15px;
}

.people .person {
	float:left;
	width:25%;
	padding:15px;
}

.people .person img {
	width: 280px; height: 280px;
}

.role {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color:#AD0E0E;
	line-height: 0px;
	}



/*People Pages*/
.row {
	margin-top:10px;
	margin-left: 15px;
	margin-right: 15px;
}

.row .pic {
	float:left;
	width:25%;
	padding:15px;
	margin-left:20px;
}

.row .pic img {
	width: 330px; height: 330px;
	box-shadow: -15px 15px;
	box-shadow-color:#122A51;
}

p.name {
	font-family: 'Merriweather', serif;
	font0weight:bold;
	font-size:24px;
	margin-left: 40px;
	margin-top:0px;
	margin-bottom:10px;
}

.pg {
	font-family: 'Open Sans', sans-serif;
	color:#AD0E0E;
	line-height: 0px;
	margin-left:40px;
	width: 100%;
	
}

.bio {
	font-family: 'Open Sans', sans-serif;
	margin-left:40px;
	width:740px;
}

.cv {
	border:#AD0E0E;
	border-style: solid;
	border-width: medium;
	margin-top: 40px;
	width:70px;
	height: 30px;
	text-align: center;
	line-height: 27px;
}

a.cvbtn {
	text-decoration: none;
	
}

@media screen and (max-width: 700px){
/*People Pages*/
.row {
	margin-top:10px;
	margin-left: 15px;
	margin-right: 15px;
}

.row .pic {
	width:100%;
	padding:15px;
	margin-left:20px;
}

.row .pic img {
	width: 500px; height: 500px;
	box-shadow: -15px 15px;
	box-shadow-color:#122A51;
	margin-left:35px;
}

p.name {
	font-family: 'Merriweather', serif;
	font0weight:bold;
	font-size:24px;
	margin-left: 20px;
	margin-top:0px;
	margin-bottom:10px;
}

.pg {
	font-family: 'Open Sans', sans-serif;
	color:#AD0E0E;
	line-height: 0px;
	margin-left:20px;
	width: 100%;
	
}

.bio {
	font-family: 'Open Sans', sans-serif;
	margin-left:20px;
	width:500px;
}
}

@media screen and (max-width: 600px){
/*People Pages*/
.row {
	margin-top:5px;
	margin-left: 10px;
	margin-right: 15px;
}

.row .pic {
	width:100%;
	padding:15px;
	margin-left:10px;
}

.row .pic img {
	width: 300px; height: 300px;
	box-shadow: -15px 15px;
	box-shadow-color:#122A51;
	margin-left:25px;
}

p.name {
	font-family: 'Merriweather', serif;
	font0weight:bold;
	font-size:24px;
	margin-left: 10px;
	margin-top:0px;
	margin-bottom:10px;
}

.pg {
	font-family: 'Open Sans', sans-serif;
	color:#AD0E0E;
	line-height: 0px;
	margin-left:10px;
	width: 100%;
	
}

.bio {
	font-family: 'Open Sans', sans-serif;
	margin-left:10px;
	width:300px;
}
}

/* Overlay */
.contain {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
  width: 280px;
  opacity: 0;
  transition: .5s ease;
  background-color: #122A51;
}

.contain:hover .overlay {
  opacity: .8;
}

.overlaytext {
  color: white;
	font-family:'Merriweather';
	font-weight:bold;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

a.overlaylink{
	color: #FFFFFF;
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.people {
	margin-top:10px;
	margin-left: 5px;
	margin-right: 5px;
}

.people .person {
	float:left;
	width:50%;
	padding:15px;
}

.people .person img {
	width: 280px; height: 280px;
	

}

.role {
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#AD0E0E;
	line-height: 0px;
	}
}

@media screen and (max-width: 600px) {
.people .person img {
width: 200px; height: 200px;}
	
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: #122A51;
}
}

@media screen and (max-width: 480px) {
.people .person img {
width: 180px; height: 180px;}
	
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  width: 180px;
  opacity: 0;
  transition: .5s ease;
  background-color: #122A51;
}
	
.overlaytext {font-size: 15px;}

.role {
	font-family: 'Open Sans', sans-serif;
	font-size:9px;
	color:#AD0E0E;
	line-height: 0px;
	}
}

/*Map*/

.map {
	margin:auto;
}

.map .location {
	width:100%;
	padding:15px;
}

.map .location img {
	width: 500px; height: auto;
	display: block;
	margin:auto;
}

.txt {
	text-align: center;
}

.map .location {
	width:100%;
	padding:15px;
}

.containmap {
  position: relative;

margin:auto;
}


.overlaymap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 328.18px;
  width: 500px;
  opacity: 0;
  transition: .5s ease;
  background-color: #122A51;
	margin:auto;
}

.containmap:hover .overlaymap {
  opacity: .8;
} 


h6 {
	color:#AD0E0E;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 0px;
}

h5 {
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
}

.paper {	
	padding-left:180px;
	padding-right:50px;}


@media screen and (max-width: 600px) {
.paper {	
	padding-left:60px;
	padding-right:50px;}
}

/*Lab News*/
.left {
	float:left;
	width: 60%;
margin: 30px;
display: inline-block;
height: 1100px;
	overflow: auto;
}

.right {
	float:left;
	width: 30%;
margin: 30px;}

.awards{
	height: 350px;
	overflow: auto;
}

.conferences{
	height: 350px;
	overflow: auto;
}

.miscellaneous{
	height: 350px;
	overflow: auto;
}






a.pub:link, a.ppl:visited {
	color: #0E0733;
	text-decoration: none;
	
}

a.pub {color:#000000;}

a.pub:hover {
	color:#AD0E0E;
	text-decoration: underline;
	font-style: italic;
}





/* CSS Document */
